aiofiles
Flask
google_cloud_aiplatform
numpy
pandas
protobuf
python-dotenv
Requests
setuptools
setuptools
streamlit
google-auth
google-cloud-storage
google-cloud-speech
openai
google-generativeai==0.3.1
azure-batch
azure-ai-ml
azure-ai-textanalytics
azure-search-documents
azure-search
